@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");


html, body {



  margin:0;
  
  padding:0;
  
  
  
  }

body h1 {
    font-family: 'Roboto Mono', monospace;
    font-size:110px;
}

body h2 {
    font-family: 'Roboto Mono', monospace;
    font-size:60;
    padding-bottom:200px;
}

body p {
    font-family: 'Roboto Mono', monospace;
    font-size:25;
    font-weight:bold
}

.links {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    padding-bottom:40px;
}

body {
    background-color: #86BBD8;
}
