@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");


html, body {



  margin:0;
  
  padding:0;
  
  
  
  }



.firstbody {
    background-color: #86BBD8;
    
  }

.mainheaders {
    font-family:Audiowide;
    font-size:100px
    
}

.subheaders {
    font-family:Verdana;
    font-size: 35px;
}

.fade-in-image { animation: fadeIn 1s ease-in; }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.contactinf {
  background-color: #33658A;
  padding-left: 0%;
  padding-right: 0%;
  height: 300px;
}

.teenytext {
  font-family:Verdana;
  font-weight: lighter;
  font-size: xx-small;
  padding-bottom: 0%;
  padding-top: 0%;
}

.submainheaders {
  font-family:Audiowide;
  font-size: 60px;
}

.imscale1 {
  width: 8%; /*gmail logo*/
  height: auto;
  padding-right: 36px;
}

.imscale2 {
  width: 8%; /*github logo*/
  height: auto;
}

.imscale3 {
  width: 12%; /*discord logo*/
  height: auto;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; ;
}


.inner1 {
  float: left;
  padding: 20px;
}


footer {
  background-color:#33658A;
  height: 120px;
}

.footerp {
  font-family:Verdana;
  font-weight: lighter;
}

.stuff {
  padding-left: 0%;
  padding-right: 0%;
  height: 330px;
}

.stuff h1 {
  font-family: Audiowide;
  font-size: 70px;
}

.links {
  font-family:Verdana;
  font-size: 25;
}
